@font-face {
  font-family: Manrope;
  src: url(./font/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: Comfortaa;
  src: url(./font/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
  font-family: LilitaOne;
  src: url(./font/LilitaOne-Regular.ttf);
}
* {
  font-family: Manrope;
}
@media (max-width: 600px) {
    meta[name="viewport"] {
      user-select: no;
    }
  }
